<!DOCTYPE html>
<html>
<head>
	<title>GA Portal Sign Up</title>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'main.css') }}">
</head>
<body>
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->
    <a href="/"><h2 class="inactive underlineHover"> Sign In </h2></a>
    <h2 class="active">Sign Up </h2>

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="{{ url_for('static', filename = 'download.png') }}" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form action="/register" method="POST">
      <input required type="text" id="name" class="fadeIn second" name="name" placeholder="name">
      <input required type="email" id="login" class="fadeIn second" name="email" placeholder="email">
      <input required type="password" id="password" class="fadeIn third" name="pass" placeholder="password">
      <input required type="user id" id="id" class="fadeIn third" name="id" placeholder="user id">
      <input required type="chat id" id="chat_id" class="fadeIn third" name="chat_id" placeholder="chat id">
      <input required type="age" id="age" class="fadeIn third" name="age" placeholder="age">
      <input required type="height" id="height" class="fadeIn third" name="height" placeholder="height in kg">
      <input required type="weight" id="weight" class="fadeIn third" name="weight" placeholder="weight in cm">
      <input required type="text" id="blood_sugar" class="fadeIn third" name="blood_sugar" placeholder="blood sugar description">
      <input required type="text" id="blood_pressure" class="fadeIn third" name="blood_pressure" placeholder="blood pressure description">
      <input required type="text" id="heart_history" class="fadeIn third" name="heart_history" placeholder="history of heart disease">
      <input required type="info" id="chat_id" class="fadeIn third" name="info" placeholder="basic info">
      <input type="submit" class="fadeIn fourth" value="Sign Up">
    </form>
  </div>
</div>
</body>
</html>
