<!DOCTYPE html>
<html>
<head>
	<title>GA Portal Home</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
 	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
</head>
<body>
<div class="main">
	<h1 class="name">Hi, {{name}}</h1><hr style="width: 30%">
	<h3 class="email">{{email}}</h3>
    <form action="/userdata" method="POST">
		<input required type="user_data" id="user_data" name="user_data" placeholder="Enter your data">
		<input type="submit" class="redirectButton" value="Send Data">
	  </form>
	  <a href="/logout">
		<button class = "redirectButton">Log Out</button>
		</a>
</div>
</body>
</html>